/lab2/.idea/
/lab2/venv/
/lab3/PIF.out
/lab3/ST.out
.idea/.gitignore
.idea/flcd.iml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
.idea/inspectionProfiles/profiles_settings.xml
.idea/inspectionProfiles/Project_Default.xml
.vscode/settings.json
.vscode/settings.json
lab2/.DS_Store
lab2/.DS_Store
lab3/.DS_Store
lab3/.DS_Store
lab8/ed_lex
lab8/lex.yy.c
lab8/ed_lex
lab8/lex.yy.c
lab9/result
lab9/y.tab.c
lab9/y.tab.h
lab9/result
lab9/y.tab.c
lab9/y.tab.h
.DS_Store
